<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chart.js</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="static/js/chart.js"></script>

</head>

<body>
    <div class="row">
        <canvas id="line-chart" width="500vw" height="150vh" ></canvas>
    </div>   


  <script>

      chart= new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: timeList,
          datasets: [{ 
              data: posList, 
              label: "Gas",
              borderColor: 'rgb(75, 192, 192)',
              fill: false,
              borderWidth: 2
            }
          ]
        }
      });
                      
  </script>
</body>


</html>