<html>
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

       
 
                 
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
        <h3>AI & IoT</h3>
        <br>
    
    <p>
        MQTT를 이용한 LED 컨트롤
    </p>
    <br>
    
    <ul class="sensorList">
        <li>
            LED1 <br><br>
            <button type="button" class="btn btn-primary" onclick="led_on()"> LED On </button>
            <button type="button" class="btn btn-primary" onclick="led_off()" > LED Off </button>
        </li>
    </ul>

    <ul class="sensorList">
        <li>
            LED2 <br><br>
            <button type="button" class="btn btn-primary" onclick="led2_on()"> LED On </button>
            <button type="button" class="btn btn-primary" onclick="led2_off()" > LED Off </button>
        </li>
    </ul>

    <ul class="sensorList">
        <li>
            LED3 <br><br>
            <button type="button" class="btn btn-primary" onclick="led3_on()"> LED On </button>
            <button type="button" class="btn btn-primary" onclick="led3_off()" > LED Off </button>
        </li>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">

    </script>

    <script>
        function led_on() {
            fetch("/led/on")
                .then(response => response.text())
                .then(data => {
                  console.log(data);  
            });
        }

        function led_off() {
            fetch("/led/off")
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                });
        }
        function led2_on() {
            fetch("/led2/on")
                .then(response => response.text())
                .then(data => {
                  console.log(data);  
            });
        }

        function led2_off() {
            fetch("/led2/off")
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                });
        }
        function led3_on() {
            fetch("/led3/on")
                .then(response => response.text())
                .then(data => {
                  console.log(data);  
            });
        }

        function led3_off() {
            fetch("/led3/off")
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                });
        }

    </script>


    </body>
</html>